@interzero:registry=https://npm.decodeit.co/
@interzero-global:registry=https://npm.decodeit.co/
@interzero-icons:registry=https://npm.decodeit.co/
@interzero-pmp:registry=https://npm.decodeit.co/
@interzero-tools:registry=https://npm.decodeit.co/
registry=https://registry.npmjs.org/
